* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  width: 400px;
  margin-bottom: 50px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 0 30px;
  justify-content: center;
}

.login-container {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
  position: relative;
}

h1, p {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

li {
  font-size: 24px;
  margin-bottom: 10px;
}

img {
  display: inline-block;
  margin-bottom: 20px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold-wrapper {
  font-weight: 700;
}

.active {
  color:green
}

.list-wrapper {
  padding: 30px;
  margin-bottom: 10px;
}